* {
  margin: 0;
  padding: 0;
}

#homepage {
  display: flex;
  justify-content: right;
  text-align: justify;
  color: #436cbd;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.5vw;
  line-height: 1.4;
  background-color: #ffffff;
  font-weight: 400;
  background-color: rgb(240, 247, 250);
}

#servicespage {
  display: flex;
  justify-content: right;
  text-align: justify;
  color: #436cbd;
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 1.4;
  background-color: #ffffff;
  font-weight: 400;
  background-color: rgb(240, 247, 250);
}

#contact {
  color: #436cbd;
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 1.4;
  background-color: #ffffff;
  font-weight: 400;
  background-color: rgb(240, 247, 250);
}

#order {
  background-color: rgb(240, 247, 250);
  color: #436cbd;
  font-family: "Lucida Console", "Courier New", monospace;
}

#testimonials {
  background-color: rgb(240, 247, 250);
  color: #436cbd;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: justify;
}

* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #228ea9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1e5cd9;
}

.container {
  border-radius: 5px;
  background-color: #3122d8;
}

.container {
  width: 100vw;
}

nav {
  background-color: rgb(253, 253, 253);
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.logo {
  padding: 0 0;
}

nav a {
  float: left;
  color: #260cca;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  background-color: rgb(185, 229, 249);
  color: rgb(204, 73, 73);
}

nav a.active {
  background-color: #1e5cd9;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

#orderbutton {
  margin-left: auto;
}

.item {
  display: flex;
  padding: 40px 0;
}

.description {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.description article {
  width: 90%;
}

.image {
  width: 50%;
  display: flex;
  align-items: center;
}

.image img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 20px;
  height: fit-content;
  left: 10px;
  bottom: 0;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #1e5cd9;
  text-align: center;
}

.maincontainer img {
  width: 100%;
  height: 100%;
  position: inherit;
}

.maincontainer .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #1e5cd9;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
}

.centeredtext {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #1409e7;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
  text-align: justify;
  font-weight: 900;
}

.maincontainer .btn:hover {
  background-color: rgb(136, 187, 218);
}

.testimonials {
  display: flex;
  padding: 0 20px;
  margin-top: 5%;
  width: 100%;
  height: auto;
  position: relative;
  height: fit-content;
  background-color: rgb(185, 229, 249);
  color: #436cbd;
  font-family: "Lucida Console", "Courier New", monospace;
}

.customerfaces {
  flex: 25%;
  max-width: 25%;
  padding: 0 20px;
  border: 1px solid blue;
  box-sizing: border-box;
}

.customerfaces img {
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.box {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0%;
}

@media only screen and (max-width: 900px) {
  nav {
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: rgb(185, 229, 249);
  }

  .centeredtext {
    font-size: 7px;
    margin-top: 40px !important;
    bottom: 38% !important;
  }

  .btn {
    margin-top: 50px;
    padding: 6px 12px !important;
  }
  .item {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .box {
    width: 80% !important;
  }

  .image {
    width: 80% !important;
  }

  article {
    width: 100% !important;
  }

  .description {
    width: 80% !important;
    margin-bottom: 20px;
  }

  #orderbutton {
    margin-left: inherit !important;
  }

  .footer {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(185, 229, 249);
  }

  .photogrid {
    width: 100%;
    height: 100%;
    position: inherit;
    font-size: 70%;
  }
}
